<% content_for :page_class, "undefined" %>
<section id="content"><a name="content"></a>
  <div class="row">
    <div class="col-sm-12">
      <div class="center m-t-100 m-b-100">
        <h1>Email Confirmation</h1><br><br>
        <p id="message">Hang tight while we confirm your email address...</p></div>
    </div>
  </div>
</section>
<script>
$.get("http://localhost:3000/api/v1/verify/<%= params[:email] %>/<%= params[:code] %>",
  function(data, status){
    if(data.status == 'ok'){
      $('#message').html("All done! Let's go to your account now...")
      setTimeout(function(){
        loadPage("/account/login")
      }, 1500)
    } else {
      $('#message').html("Uh oh! That didn't work. Try clicking on the link again");
    }
  });
</script>
