<% content_for :page_class, "undefined signup" %>
<section id="content" class="signup"><a name="content"></a>
  <div class="signup">
    <div style="display:block; padding-top: 50px" class="branding">
      <div style="width: inherit; text-align:center" class="container">
        <div class="logo small">
          <div>ShellManager Identity<span class="preview m-l-10">Account Signup</span></div>
        </div>
      </div>
    </div>
    <section><br>
      <div class="container"><br><br>
        <div id="SIGNUPREACT">
          <div id="SIGNUPREACT">
            <div>
              <div class="col-sm-12"><span></span></div>
              <div class="hiddden visible">
                <div><span></span>
                  <form>
                    <div id="step1" class="step">
                      <h2>Create Account</h2>
                      <div class="row">
                        <div class="col-md-6">
                          <div style="min-height: 4em;">
                            <div class="jvFloat undefined"><label class="placeHolder" for="email">Email Address</label><input type="text" id="email" class="" name="email" value="" placeholder="Email Address" style="filter: grayscale(100%) brightness(110%);"></div>
                          </div>
                          <div style="min-height: 4em;">
                            <div class="jvFloat undefined"><label class="placeHolder" for="password">Password</label><input type="password" id="password" class="" name="password" value="" placeholder="Password"></div>
                          </div>
                          <div class="hidden">
                            <div style="min-height: 4em;">
                              <div class="jvFloat undefined"><label class="placeHolder" for="inviteCode">Invite Code</label><input type="text" class="" name="inviteCode" value="" placeholder="Invite Code"></div>
                            </div>
                          </div><br>
                          <div style="font-size: 75%; opacity: 0.8;">
                            By signing up you agree to our
                            <a href="/legal/terms" id="termsText">Terms of Service</a></div><br></div>
                        <div class="col-md-6"><span class="center"><div class="g-recaptcha" data-callback="recaptchaCallback1" data-sitekey="6LelnykTAAAAAOJ_PKhP8UhLe_O0iMdObQNhnb1v" style="justify-content: center; display: flex; margin: 2em;"></div></span><span class="center"><button type="submit" value="Continue" class="submit hollow blue medium glowBlue" style="margin: auto;">
                          <span class="innerSpinner"></span>
                          <span class="subt">Next:&nbsp;</span>
                          <span class="extText">Confirm Account</span>
                          </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="hiddden center"><img src="https://ltscdn.m6.nz/shell/main/images/accountconfirmwelcome3.png"><h1 class="p-t-20">Your account has been created.</h1><h4>Check your email for a confirmation message to complete signup</h4><br><br></div>
          </div>
        </div>
      </div>
    </section>
    <section></section>
</section>
<script>
$(document).on("click", "button[type=submit]", function(e){
	e.preventDefault();
	$('.borderBottom').attr('disabled', true)
	$(this).find('.innerSpinner').addClass('activeSpinning');
	$(this).prop("disabled", true);
	var prop = this;
	$.post("https://api.id.m6.nz/api/v1/users",
    JSON.stringify({ user: {
        email: $("#email").val(),
        password: $("#password").val()
    }}),
    function(data, status){
			if(data.user_created == true){
        $(".hiddden.visible").fadeOut("slow", function() {
        $('.hiddden.visible').removeClass('visible');
       });
       $(".hiddden.center").fadeIn("slow", function() {
        $('.hiddden.center').addClass('visible');
       });
			} else {
				$('#email').attr('disabled', false).attr('style', 'border-color: red;');
        $('#email').attr("placeholder", $('#email').val() + " (email not accepted)");
        $('#email').val("");
				$(prop).find('.innerSpinner').removeClass('activeSpinning');
				$(prop).prop("disabled", false);
				setTimeout(function(){
					$('#email').removeAttr('style');
				}, 3000)
			}
    });
	});
</script>
