<footer id="footer">
  <div class="logo small"><a href="/">The Monarch Network</a></div>
  <nav id="footerNav">
    <ul>
      <li class="sections">
        <ul>
          <li class="topLI"><span class="alt-font">Resources</span></li>
          <li><%= link_to "Terms of Use", terms_path, :class => "alt-font" %></li>
          <li><%= link_to "Privacy Policy", privacy_path, :class => "alt-font" %></li>
          <li><%= link_to "Acceptable Use Policy", aup_path, :class => "alt-font" %></li>

        </ul>
      </li>
  </nav>
    <div class="bottompart">
    <div class="copyright alt-font">&copy; 2019 M6 Securities, Inc. | ShellManager Identity Version 1.0-GA-RELEASE</div>
    <div class="pshq"><i class="icon icon_pin"></i> Auckland, NZ</div>
  </div>
  <a href="#top" class="slide-round">
    <div class="overflow"><svg viewbox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve" class="off"><polygon points="23.5,28.2 31.3,36 32,35.3 24.2,27.5 32,19.7 31.3,19 23.5,26.8 22.8,27.5"></polygon></svg><svg viewbox="0 0 56 56" style="enable-background:new 0 0 56 56;"
        xml:space="preserve" class="on"><polygon points="23.5,28.2 31.3,36 32,35.3 24.2,27.5 32,19.7 31.3,19 23.5,26.8 22.8,27.5"></polygon></svg></div>
  </a>
  <div class="clearfix"></div>
</footer>
<div id="overlay"></div>
<link href="https://ltscdn.m6.nz/shell/main/stylesheets/ant.rate.css" rel="stylesheet">
</div>
</body>
</html>
