<footer id="footer">
  <div class="container">
    <nav class="nav">
      <ul>
      <li style="visibility: hidden"><a href="javascript:void(0)"><span class="innerSpinner"></span>Blank Space</a></li>
      <li><a href="/legal/terms"><span class="innerSpinner"></span>Terms of Use</a></li>
      <li><a href="/legal/privacy"><span class="innerSpinner"></span>Privacy Policy</a></li>
      <li style="visibility: hidden"><a href="javascript:void(0)"><span class="innerSpinner"></span>Blank Space</a></li>
      </ul>
    </nav>
  </div>
</footer>
<div id="overlay"></div>
</div>
