<footer id="footer">
  <div class="container">
    <nav class="nav">
      <ul>
        <li><a href="/legal/terms"><span class="innerSpinner"></span>Terms of Use</a></li>
        <li><a href="/legal/privacy"><span class="innerSpinner"></span>Privacy Policy</a></li>
        <li><a href="/about"><span class="innerSpinner"></span>About Us</a></li>
        <li><a href="/faq"><span class="innerSpinner"></span>FAQ</a></li>
      </ul>
    </nav>
  </div>
</footer>
<div id="overlay"></div>
</div>
