<style>
  #footer {
    background: #0e1219;
  }

  .newsletterSignup2 {
    padding-top: 4em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    color: white;
  }

  .roundWhite {
    margin: 2em auto !important; //- margin: auto;
  }
</style>
<div class="fullscreen">
  <div style="display:flex;align-items:center; height: 75%; min-height: 500px;">
    <div id="headerSplash" class="container"><br><br>
      <div class="centerMobile">
        <div style="color:white;  float: none; text-align:center" class="logoHero">Monarch Shells</div><br><br></div>
    </div>
    <div style="overflow hidden" class="fullscreenWrapper">
      <div style="background-position: center; background-image: linear-gradient(rgba(14, 18, 25, 1), rgba(14, 18, 25, 0), rgba(0, 0, 0, 0)), url('https://ltscdn.m6.nz/shell/main/images/city1.jpg')" class="fullscreenImage"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
