<div class="tMenu">
<div class="tMenuEntry"><a class="alt-font<% if content_for?(:account) %> selected<% end %>" href="/console/account"><span>Account Info</span></a></div>
<div class="tMenuEntry"><a class="alt-font<% if content_for?(:logs) %> selected<% end %>" href="/console/log"><span>Logs</span></a></div>
</div>
