<% content_for :page_class, "runMachine mobile js" %>
<% content_for :machine, 1 %>
<div id="HUDReact">
  <div data-reactroot="">
    <!-- react-text: 2 -->
    <!-- /react-text -->
    <span>
          <div></div>
        </span>
    <div id="advancedSettingsHUD">
      <div id="hudContainer" class="hidden">
        <span></span></div>
      <noscript></noscript>
    </div>
    <div id="hudContainer" class="">
          <span>
            <div id="overlayPS"></div>
            <div class="">
              <div class="verticalStatsAligner">
                <div class="controls" style="min-width: 400px;">
                  <h3 class="p-b-20" style="font-size: 3em; color: rgba(200, 200, 200, 0.6);">Authentication Request</h3>
                  <h3 class="p-b-20" id="promptbox">
                    <% if !params[:client_id] %>
                    <span style='color: yellow'>WARNING: No client_id specified</span>
                    <% end %>
                  </h3>
                </div>
              </div>
            </div>
          </span>
      <noscript></noscript>
      <noscript></noscript>
    </div>
    <div>
      <div class="" style="z-index: 10;">
        <div id="psButton" class="react-draggable react-draggable-dragged" style="position: absolute; display: block; right: 195px; top: 40px; text-align: center; width: 30px; height: 40px; z-index: 1002; transform: translate(0px, 0px);">
          <div class=""></div>
        </div>
      </div>
      <div class="mouseBlocker nopointerevents invisible" style="z-index: 998;"></div>
    </div>
  </div>
</div>
<div id="playerStatsSmall">
  <div id="frameBlinker"></div>
</div>
<div id="uploadFileReact"></div>
<div id="totalTime"></div>
<div id="renderFrame"></div>
<div class="ReactModalPortal">
  <div data-reactroot=""></div>
</div>
<div class="ReactModalPortal">
  <div data-reactroot=""></div>
</div>
<div class="ReactModalPortal">
  <div data-reactroot=""></div>
</div>
<script>
  redirect_uri = ""
  $(function(){
      $.ajax({
          type: 'GET',
          url: 'http://localhost:3000/api/v1/applications/<%= params[:client_id] %>',
          success: function(data){
              $("#promptbox").append(data.html)
              redirect_uri = data.redirect_uri
          }
      })
  })
    $(document).on('click', '#denySSO', function(e) {
        e.preventDefault();
        window.location = redirect_uri+"?error=access_denied&error_description=Permission+Error&error_reason=user_denied";
    });

    $(document).on('click', '#allowSSO', function(e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        e.stopPropagation()

        form = new FormData();
        form.append('client_id', "<%= params[:client_id] %>");
        form.append('redirect_uri', "urn:ietf:wg:oauth:2.0:oob");
        form.append('access_key', "<%= @current_user[:api_key] %>");
        form.append('response_type', "code");

        $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/api/v1/oauth/authorize',
            data: form,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data){
                window.location = redirect_uri+"?code="+data["redirect_uri"]["code"];
            }
        })
    });
</script>
