<% content_for :page_class, "about" %>
<section id="content"><a name="content"></a>
  <section style="background-color:white" class="section">
    <section class="container">
      <h1>About</h1><br>
      <h3>Background</h3>
      <p>Monarch Shells provides a revolutionary new way to access cloud computing resources, on any device. We primarily offer shells, but the range of products we add is practically limitless.</p>
      <p class="bold">Our mission is to make cloud computing more accessible through simplicity, community-driven technical resources, and amazing support.</p><br>
      <h3>What's in the name?</h3>
      <p>We're part of the wider group, Monarch Solutions. Our name is primarily derived from our parent (Monarch Solutions, whose name is derived from the Monarch butterfly), and the products we initially offered, It's a metaphor for the notion that we are light, beautiful, and free.</p><br>
      <div class="row">
        <div class="col-sm-6">
          <h3>Our Staff Members</h3>
          <p>We're staffed by a few people, who are: <a href='https://meffe.se'>Johan A</a>, <a href='https://blog.theom.nz'>Theo M</a>, and <a href=''>Corey S</a></p>
        </div>
      </div><br>
      <hr><br>
      <div class="row">
        <div class="col-sm-4">
          <h3>Partnership Opportunities</h3>
          <p>We're always looking for new and interesting ways to bring new features to our community. Join us!</p>
          <div><b>No matter who you are, or where you are</b></div><br></div>
        <div class="col-sm-4">
          <h3>Media Inquiries</h3>
          <p>We love to tell our story — please reach out for any press related inquiries.</p>
          <div><b>you can always reach us in the same place</b></div><br></div>
        <div class="col-sm-4">
          <h3>Contact Us</h3>
          <p>For general inquiries please don't hesitate to get in touch!</p>
          <div><b><a href="https://kiwiirc.com/client/irc.freenode.net?nick=kiwi?&theme=cli#2ProShells">Come chat over here</a></b></div></div><br></div>
    </section>
  </section>
</section>
