<section id="content"><a name="content"></a>
  <div class="section">
    <div class="container">
      <div class="row">
        <h1 style="margin-left: 15px;">FAQ</h1><br>
        <div class="col-sm-4">
          <h2 style=" border-left: 3px solid #5B70FF; padding-left: 15px; margin-left: -15px;">General</h2>
          <div class="faqEntry">
            <h3>What is Monarch Shells?</h3>
            <p class="drawer">Monarch Shells provides access to persistent cloud-based services (both cloud desktops or servers) that can be accessed from most web-enabled devices. After an account is provisioned, it takes less than 30 seconds to log in for the first time. Machines
              can be used to run applications as well as store files, browse the web, etc. </p>
          </div>
          <div class="faqEntry">
            <h3>Who uses Monarch Shells?</h3>
            <p class="drawer">Monarch Shells users run the gamut from the casual web surfer to the most serious developers.</div>
          <div class="faqEntry">
            <h3>How secure is Monarch Shells?</h3>
            <p class="drawer">Your desktop is managed in a secure data center and the remote connection is fully-encrypted. Visit our <a href='/security'>security</a> page for more details.</p>
          </div>
          <div class="faqEntry">
            <h3>Is the information on my account private?</h3>
            <p class="drawer">We care deeply about privacy issues on the web. The only time we will access your information is if we get a request from law enforcement.</p>
          </div>
          <div class="faqEntry">
            <h3>Can I game on Monarch Shells?</h3>
            <p class="drawer">Not quite yet. We're working on it though!</p>
          </div>
        </div>
        <div class="col-sm-4">
          <h2 style=" border-left: 3px solid #5B70FF; padding-left: 15px; margin-left: -15px;">Billing</h2>
          <div class="faqEntry">
            <h3>How much does an account cost?</h3>
            <p class="drawer">It's free to spin up an account. That's right! 100% free! Donations are always appreciated (it means a lot!).</p>
          </div>
          <div class="faqEntry">
            <h3>What languages does the Monarch cloud desktop support?</h3>
            <p class="drawer">Right now, we only support English QWERTY layout keyboards, but we are actively working on adding more layouts. Users can use a virtual keyboard to type in other languages and use special characters.</p>
          </div>
          <div class="faqEntry">
            <h3>How many accounts can I have?</h3>
            <p class="drawer">We hate to be the bearer of bad news, but you can only have one account at this time. The good news is one account covers all of our services!</p>
          </div>
          <div class="faqEntry">
            <h3>How do I cancel my account?</h3>
            <p class="drawer">You can cancel your account anytime through the Console under the Account Info tab, or by dropping in and talking to one of our staffers.</p>
          </div>
          <div class="faqEntry">
            <h3>Do you offer refunds?</h3>
            <p class="drawer">No, we do not offer refunds. Please drop in to our channel if there are extenuating circumstances.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <h2 style=" border-left: 3px solid #5B70FF; padding-left: 15px; margin-left: -15px;">Technical</h2>
          <div class="faqEntry">
            <h3>How fast does my internet need to be to access a Monarch cloud desktop?</h3>
            <p class="drawer">90% of broadband connections in the US are fast enough. We recommend about 10-15Mbps download speed and less than 60 ms of latency. Check your speed for free at <a href="http://speedtest.net">speedtest.net</a></p>
          </div>
          <div class="faqEntry">
            <h3>Where do I access my machine?</h3>
            <p class="drawer">You can access your machine at <a href="/account/login">monarchshells.com/account/login</a></p>
          </div>
          <div class="faqEntry">
            <h3>What software can I use?</h3>
            <p class="drawer">Your Monarch cloud desktop is just like any other computer except that it lives in the cloud. You can ask us to install anything you want, but bear in mind, you share this machine with other users.</p>
          </div>
          <div class="faqEntry">
            <h3>What devices can I use to access my machine?</h3>
            <p class="drawer">Our console can be accessed from a web browser or our native application. Rule of thumb: If the device can stream a Netflix video, it can run the console. <b>We currently do not support tablets or touch screens, but stay tuned!</b></p>
          </div>
          <div class="faqEntry">
            <h3>What operating systems are available on Monarch Shells?</h3>
            <p class="drawer">We offer a number of operating systems, including Ubuntu 16.04, as well as Red Hat Enterprise Linux and Fedora.</p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div><br><br><br></div>
</section>
