<% content_for :page_class, "undefined" %>
<% content_for :index, 1 %>
<section id="content"><a name="content"></a>
  <div class="bg-white">
    <div style="margin: auto;width: 20px;height: 1px;background: #d5d5d5;"></div>
    <div style="padding-top:50px;" class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-0 col-xs-12 col-sm-4 col-sm-offset-0">
            <div class="useCaseBlokk">
              <div style="height:50px"><img src="https://ltscdn.m6.nz/shell/main/images/intelligentalerts.png" style="margin:auto; max-width:20%"></div>
              <h3 class="title">Web Services</h3>
              <p>On-demand compute, storage, and networking resources. Easily setup and deploy development and production pipelines.</p><br></div>
          </div>
          <div class="col-xs-offset-0 col-xs-12 col-sm-4 col-sm-offset-0">
            <div class="useCaseBlokk">
              <div style="height:50px"><img src="https://ltscdn.m6.nz/shell/main/images/shareddrives.png" style="margin:auto; max-width:20%"></div>
              <h3 class="title">Cloud IDE</h3>
              <p>Your development environment in the cloud. Try our web-based Linux desktop and POSIX terminals in a web browser.</p><br></div>
          </div>
          <div class="col-xs-offset-0 col-xs-12 col-sm-4 col-sm-offset-0">
            <div class="useCaseBlokk">
              <div style="height:50px"><img src="https://ltscdn.m6.nz/shell/main/images/2factor.png"></div>
              <h3 class="title">Enterprise Shells</h3>
              <p>Monarch Shells is one of the fastest growing shell providers in the world. <a href='/account/signup' id="CTAText">Let's get started, together.</a></p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="ctaSection" class="container center">
      <h1 class="centerMobile">A new account takes less than 5 minutes to fire up, and it's <span class="blue">free</span>. Get started today.</h1><br><br><br>
      <div class="center"><a href="/account/signup"><button style="cursor:pointer;" class="hollow blueCTA" id="CTATwo"><span id="CTASpinnerTwo" class="innerSpinner"></span>You know you want to click me</button></a></div><br></div>
  </div>
  <section style="background-color: #eaeff5;padding: 60px 0px; " class="section">
    <div style="" class="container">
      <div class="row">
        <div style="margin-bottom: 2em;" class="col-sm-12 center">
          <div style="font-family: 'Montserrat', sans-serif; color: #465061; text-transform: uppercase; font-weight: 800; letter-spacing: 2px">Join our community, and see what gives you the Monarch advantage.</div>
        </div>
      </div>
      <div class="row m-t-20">
        <div class="col-sm-12">
          <div style="margin:auto;width: 23%; display:flex; align-items:center;justify-content:space-between;" class="flexStackMobileR">
            <img src="https://ltscdn.m6.nz/shell/main/images/monarch_text.png" alt="Monarch Logo">
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <div style="display:flex; flex-direction:row; max-width: 350px; margin: 2em auto; align-items:center; justify-content: center"><a href="/account/signup"><button style="cursor:pointer;" class="hollow blueCTA" id="CTAThree"><span id="CTASpinnerThree" class="innerSpinner"></span>Sign up Today</button></a></div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 center">
          <div style="display:flex;    margin-top: 2em;    justify-content: space-between;" class="flexStackMobileR">
            <div style="font-size: .75em; font-family: 'Montserrat', sans-serif; color: #98a2b0; text-transform: uppercase; font-weight: 600; letter-spacing: 2px">Access anywhere</div>
            <div style="font-size: .75em; font-family: 'Montserrat', sans-serif; color: #98a2b0; text-transform: uppercase; font-weight: 600; letter-spacing: 2px">World-class support</div>
            <div style="font-size: .75em; font-family: 'Montserrat', sans-serif; color: #98a2b0; text-transform: uppercase; font-weight: 600; letter-spacing: 2px">Always online</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
