<% content_for :page_class, "security" %>
<section id="content"><a name="content"></a>
  <section style="background-color:#fff" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div style="margin:auto; max-width:250px"><img src="https://ltscdn.m6.nz/shell/main/images/svg/_process1.svg" onerror="this.onerror=null; this.src='https://ltscdn.m6.nz/shell/main/images/svg/circuit.svg'"><br><br></div>
        </div>
        <div class="col-sm-4">
          <div style="margin:auto; max-width:250px"><img src="https://ltscdn.m6.nz/shell/main/images/svg/_process2.svg" onerror="this.onerror=null; this.src='https://ltscdn.m6.nz/shell/main/images/svg/circuit.svg'"><br><br></div>
        </div>
        <div class="col-sm-4">
          <div style="margin:auto; max-width:250px"><img src="https://ltscdn.m6.nz/shell/main/images/svg/_process3.svg" onerror="this.onerror=null; this.src='https://ltscdn.m6.nz/shell/main/images/svg/circuit.svg'"><br><br></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </section>
  <section style="background-color:#fff" class="section">
    <div class="container">
      <div class="row centerMobile">
        <div class="col-sm-6"><img src="https://ltscdn.m6.nz/shell/main/images/2core.png"><br><br></div>
        <div class="col-sm-6">
          <h1>Data <span class="semi-bold">Security</span></h1>
          <h2>Security at the core of our services.</h2><br><br>
          <div style="max-width:600px; float: left" class="centerMobile">
            <p>Our services are designed with security as the primary consideration. We know that security is the cornerstone of all business and we are committed to providing the world’s most trusted shell accounts. In today’s environment knowing
              that your data is secure, permissions managed, and totally isolated from possible attackers is an essential requirement for the move to the cloud.</p>
          </div><a name="anyDevice"></a><br><br></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <section style="background-color:#fff" class="section">
    <div class="container">
      <div class="row centerMobile">
        <div class="col-sm-6 col-sm-push-6"><img src="https://ltscdn.m6.nz/shell/main/images/encrypt.png"><br><br></div>
        <div class="col-sm-6 col-sm-pull-6">
          <h1>Network <span class="semi-bold">Security</span></h1>
          <h2>Ensuring the secure transport of data</h2><br><br>
          <div style="max-width:600px; float: left" class="centerMobile">
            <p>When you access a Monarch Shells service on your network, it is likely that our service will be the most secure machine on that network.</p><br>
            <ul>
              <li>• 100% network isolation</li>
              <li>• Encrypted channel from VPN to VPN (IPSec/OpenVPN encrypted channel between the Monarch DC and you)</li>
            </ul>
          </div><a name="anyDevice"></a><br><br></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <section style="background-color:#fff" class="section">
    <div class="container">
      <div class="row centerMobile">
        <div class="col-sm-6"><img src="https://ltscdn.m6.nz/shell/main/images/supercharge.png"><br><br></div>
        <div class="col-sm-6">
          <h1>Physical <span class="semi-bold">Security</span></h1>
          <h2>Protecting and monitoring the datacenter</h2><br><br>
          <div style="max-width:600px; float: left" class="centerMobile">
            <p>Our datacenters employ a variety of security mechanisms, including strict access policies plus secure vaults and cages.</p><br>
            <ul>
              <li>• ISO and SSAE16 compliant (certified by independent auditors and third-party organizations).</li>
              <li>• 24x7 on-site security including personnel, motion detection, a badge access system and closed-circuit video monitoring.</li>
              <li>• Uninterruptible power and backup systems as well as fire/flood detection and prevention.</li>
            </ul>
          </div><a name="anyDevice"></a><br><br>
          <hr>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
</section>
