<% content_for :page_class, "security" %>
<% content_for :services, 1 %>
<section id="content"><a name="content"></a>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <h2 style=" border-left: 3px solid #5B70FF; padding-left: 15px; margin-left: -15px;">Our Services</h2>
          <div class="faqEntry">
            <h3>What do you provide?</h3>
            <p class="drawer">Monarch Shells provides access to persistent cloud-based services (both cloud desktops or servers) that can be accessed from most web-enabled devices. </p>
          </div>
          <div class="faqEntry">
            <h3>What Operating Systems are available?</h3>
            <p class="drawer">We currently have Red Hat Enterprise Linux, Fedora, Ubuntu, and Windows available for use.</div>
          <div class="faqEntry">
            <h3>How do I access these services?</h3>
            <p class="drawer">Easy. All you have to do is <a href='/account/signup'>sign up</a> or <a href='/account/login'>log in</a>, and go*</p>
          </div>
          <sub> * = subject to account approval</sub>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="clearfix"></div>
    </div><br><br><br></div>
</section>
